.selector-for-some-widget {
	box-sizing: content-box;
}

textarea:focus, 
input:focus{
    outline: none;
}

body{

	.nav{
		li{
			a{
				font-weight:bold;
				&.dropdown-item{
					font-weight:normal;
					opacity:.75;
				}
			}
		}
		.nav-item{
			.navbar-collapse{
				position: absolute;
				left:-8px;
			}
		}
	}

	.banner{
		position:relative;
		max-height: 500px;

		.mobile-search{
			display: none;
			width:30%;
			position: absolute;
			z-index:2;
			top:.5em;
			right:.5em;
			text-align: right;	

			button{
				color:#000;
			}

			.search-container{
			  width: 100%;
			  display: block;
			}

			input#search-bar{
			  margin: 0 auto;
			  width: 100%;
			  height: 35px;
			  padding: 0 10px;
			  font-size: 1rem;
			  border: 1px solid #D0CFCE;
			  outline: none;
			  &:focus{
			    border: 1px solid #008ABF;
			    transition: 0.35s ease;
			    color: #008ABF;
			    &::-webkit-input-placeholder{
			      transition: opacity 0.45s ease; 
			  	  opacity: 0;
			     }
			    &::-moz-placeholder {
			      transition: opacity 0.45s ease; 
			  	  opacity: 0;
			     }
			    &:-ms-placeholder {
			     transition: opacity 0.45s ease; 
			  	 opacity: 0;
			     }    
			   }
			 }

			.search-icon{
			  position: relative;
			  float: right;
			  width: 75px;
			  height: 75px;
			  top: -62px;
			  right: -45px;
			}
		}

		.carousel{
			height:100%;
			.carousel-inner{
				height:100%;
				.carousel-item{
					height:100%;
				}
			}
		}

		.logo-nav{
			width:100%;
			position:absolute;
			right:0;
			top:1em;
			z-index:1;
			.nav-link{
				cursor: pointer;
				color:#000 !important;						
				&.collapsed{
					&::after{
						display:inline-block;
						width: 0;
						height: 0;
						margin-left: .255em;
						vertical-align: .255em;
						content: "";
						border-top: .3em solid;
						border-right: .3em solid transparent;
						border-bottom: 0;
						border-left: .3em solid transparent;
					}
				}
			}
		}

		nav{
			display:none;
		}
	}

	.main-content{
		padding:1em;

		.search{
			input{
				border:0;
    			background-color: transparent;
			}
			button{
				color:#000;
				&:hover{
					opacity:.5;
				}
			}
		}
	}

	.featured-products{
		h3{
			margin:0 0 .5em 0!important;
		}
		.mobile-view{
			display: none;
		}

		.laptop-view{
			.col-sm{
				.col{
					button{
						width:100%;
						height:50%;
					}
				}
			}
		}
	}

	.banner-ad{
		max-width:100%;
		width:95%;
		margin: 0 auto;

		.col-sm{
			height:150px;
			.col{
				button{
					width:50%;
					height:50%;
				}
			}
		}
	}

	footer{
		background:#C1BBBB;
		min-height:250px;

		.nav{
			.nav-item{
				a{
					cursor:pointer;
					margin:0 .5em 0 .5em;
				}
				
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
	body{

		.banner{
			width:100%;
			.mobile-search{
				display: block;
			}

			.logo-nav{
				img{
					&.company-logo{
						width:25%;
					}
				}
				nav{
					display:block;
					position: absolute;
					left:0;
					top:0;

					.nav{
						background: #fff;
						border:solid 1px #000;
						.navbar-collapse{
							position: relative;
							left:.5em;
							a{
								&:hover{
									background:transparent;
									text-decoration: underline;
								}
							}
						}
					}

					button{
						border:0;
						outline:0;
						background: transparent;
						cursor: pointer;
						i{
							font-size:1.5em;
						}
					}
				}
			}
		}

		.logo-nav{
			.float-left{
				float:none !important;
				text-align:center;
			}
			.float-right{
				.nav{
					display: none;
				}
			}
		}

		.main-content{
			.search{
				display: none;
			}
		}

		.featured-products{
			.laptop-view{
				display: none;
			}
			.mobile-view{
				display: block !important;

				.carousel-control-next, 
				.carousel-control-prev{
					color:#000;
				}

				.carousel-indicators{
					bottom:-50px !important;
					li{
						width:15px;
						height:15px;
						border-radius:50%;
						border:solid 1px #000;
					}
					.active{
						background-color:#000 !important;
					}
				}
			}

			.col{
				button{
					width:50%;
					height:75% !important;
				}
			}

			.banner-ad{
				width:100%;
				margin-top:3em;
				.col-sm{
					margin-top:1em;
				}
			}
		}

		footer{
			min-height:200px;
			padding:0 !important;
			.nav{
				.nav-item{
					a{
						&.nav-link{
							cursor: pointer;
							color:#000 !important;						
							&.collapsed{
								&::before{
									display:inline-block;
									width: 0;
									height: 0;
									margin-right: .255em;
									vertical-align: .255em;
									content: "";
									border-top: .3em solid;
									border-right: .3em solid transparent;
									border-bottom: 0;
									border-left: .3em solid transparent;
								}
							}
						}
					}
					.navbar-collapse{
						position: relative;
						left:-8px;
						border-bottom:solid 1px #000;
						a{
							&:hover{
								background: transparent;
								text-decoration: underline;
							}
						}
					}
				}
			}
			.justify-content-center {
			    -ms-flex-pack: left !important;
			    justify-content: left !important;
				-ms-flex-direction: column !important;
				flex-direction: column !important;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
	body{

		.featured-products{
			.col{
				button{
					height:100%;
				}
			}
		}

	}
}